.nav-bar {
  width: 100%;
  height: 50px;
  background-color: var(--ghost-white);
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

  .logo {
    width: 40px;
  }
  .logo-title{
    color: var(--caribbean-green);
    font-size: 24px;
  }

  span {
    color: var(--indigo);
    font-weight: bolder;
    cursor: pointer;
  }
}
