.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--ghost-white);
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: fixed;
  top: 50px;

  .logo {
    display: none;
  }

  .presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: var(--very-light-blue);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

    .person {
      color: var(--white);
      font-size: 120px;
      cursor: pointer;
    }

    h2 {
      font-size: 16px;
    }

    h3 {
      font-size: 14px;
    }

    h2, h3 {
      color: var(--white);
      font-weight: 700;
    }
  }

  a {
    color: var(--very-light-blue);
    font-weight: 700;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    align-items: center;
    padding: 5px 0;
  }

  li:hover {
    background-color: var(--caribbean-green);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    a {
      color: var(--palatinate-blue);
    }
  }

  li {
    list-style-type: none;
    width: 100%;
    padding: 10px;
  }

}
