<nav class="sidebar close">
  <div class="logo-details">
    <img class="logo expanded-item " src="assets/images/logo.svg">
  </div>
  <div class="presentation py-4">
    <span class="material-symbols-outlined person">person</span>
    <div class="d-flex flex-wrap justify-content-center w-100">
      <h2>System Admin</h2>
      <h3>system.admin@gmail.com</h3>
    </div>

  </div>
  <ul class="p-0">
    <li>
      <a href="">
        <span class="material-symbols-outlined" routerLinkActive="active">home</span>
        <span class="expanded-item">Home</span>
      </a>
    </li>
    <li>
      <a href="users" routerLink="users" routerLinkActive="active">
        <span class="material-symbols-outlined">person</span>
        <span class="expanded-item">Users</span>
      </a>
    </li>
    <li>
      <a href="budgets" routerLink="/products" routerLinkActive="active">
        <span class="material-symbols-outlined">qr_code_scanner</span>
        <span class="expanded-item">Products</span>
      </a>
    </li>
  </ul>
</nav>
