/* SCSS HEX */
:root {
  --palatinate-blue: #1a55e3;
  --folly: #ff0854;
  --caribbean-green: #00d284;
  --disco-ball: #0dcaf0;
  --very-light-blue: #5e6eed;
  --ghost-white: #f8f9fb;
  --white: #ffffff;
}
