<div class="d-flex flex-row align-items-center justify-content-center">
  <section id="login-section" class="general-float-form p-5">
    <img src="assets/images/node-logo.svg" class="logo">
    <h1 class="text-center mb-4">Login</h1>
    <form [formGroup]="userCredentialsForm" (ngSubmit)="login()" class="w-100">
      <div class="mb-3 row">
        <div class="form-floating">
          <input type="email" class="form-control" id="inputLogin" formControlName="login" placeholder="Login">
          <label for="inputLogin">login</label>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="inputPassword" formControlName="senha" placeholder="Password">
          <label for="inputPassword">Password</label>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center w-100">
        <button type="submit" [disabled]="userCredentialsForm.invalid" class="btn btn-primary btn-lg float-end w-75 mb-3">Entrar</button>
        <span class="sign-up-text">Não tem uma conta?<a href="/sign-up" class="sign-up-link">Junte-se hoje</a></span>
      </div>
    </form>
  </section>
</div>
